PROXY_NETWORK_NAME=proxy-network
HTTP_PORT=80
HTTPS_PORT=443
TZ=Asia/Tokyo
DOMAIN=example.local
ROOT_HOST=example.local
TTRSS_HOST=ttrss.example.local
MUNIN_HOST=munin.example.local
WORDPRESS_UPSTREAM=127.0.0.1:8080
TTRSS_UPSTREAM=127.0.0.1:8280
MUNIN_UPSTREAM=127.0.0.1:8081
TLS_CERT_NAME=example.local
LETSENCRYPT_EMAIL=admin@example.local
