PROXY_NETWORK_NAME=proxy-network
HTTP_PORT=80
HTTPS_PORT=443
TZ=Asia/Tokyo
DOMAIN=example.local
ROOT_HOST=example.local
TTRSS_HOST=ttrss.example.local
MUNIN_HOST=munin.example.local
TATEGAKI_HOST=tategaki.example.local
SYNCTHING_HOST=syncthing.example.local
OPENVPN_HOST=openvpn.example.local
EPGREC_HOST=epgrec.example.local
EPGSTATION_HOST=epgstation.example.local
MIRAKURUN_HOST=mirakurun.example.local
WORDPRESS_UPSTREAM=127.0.0.1:8080
TTRSS_UPSTREAM=127.0.0.1:8280
MUNIN_UPSTREAM=127.0.0.1:8081
TATEGAKI_UPSTREAM=127.0.0.1:3000
SYNCTHING_UPSTREAM=127.0.0.1:8384
OPENVPN_ADMIN_UPSTREAM=127.0.0.1:943
OPENVPN_CLIENT_UPSTREAM=127.0.0.1:9443
MIRAKURUN_UPSTREAM=127.0.0.1:40772
EPGSTATION_UPSTREAM=127.0.0.1:8888
TLS_CERT_NAME=example.local
LETSENCRYPT_EMAIL=admin@example.local
